:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

    --skin-color: #ec1839;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

::before, ::after{
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
}
*{
    scroll-behavior: smooth !important;
}

ul{
    list-style: none;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #302e4d;
    border-radius: 10px;
}